@model IEnumerable<Identity.Models.Entities.Dto.Blog.CreateBlog>
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService _service

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
             <td>
                    @if (_service.AuthorizeAsync(User, item, "IsBlogForYou").Result.Succeeded)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                    }

             </td>

        </tr>
}
    </tbody>
</table>
